/* Secci贸n principal */
.home-section {
  padding-top: 6rem;
  padding-bottom: 2rem; /* Espaciado inferior para evitar que el bot贸n quede oculto */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--blanco);
  min-height: 100vh; /* Garantiza que la secci贸n ocupe al menos toda la pantalla */
  box-sizing: border-box;
}

/* Bienvenida */
.bienvenida {
  font-size: 2rem;
  margin: 0; /* Elimina m谩rgenes innecesarios */
  text-align: center;
}

.minombre {
  color: var(--verde-claro);
}

/* Icono de la mano saludando */
.waving-emoji {
  display: inline-block;
  transform-origin: 70% 70%;
  animation: wave 2s infinite;
}

/* Efecto de m谩quina de escribir */
.typewriter-effect {
  font-family: "Courier New", Courier, monospace;
  margin-top: 1rem;
  font-size: 1.5rem;
  color: var(--blanco);
}

/* archivo CSS */
.typewriter-cursor {
  color: white;
  font-size: 2rem;
  font-weight: 200;
}

/* Contenedor de objetos 3D */
.espacio-objetos {
  width: 100%;
  height: 75vh; /* Ajusta el espacio reservado para el canvas */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem; /* Espaciado entre el canvas y el bot贸n */
  box-sizing: border-box;
}

.canvas-container {
  width: 100%;
  height: 100%;
  outline: none; /* Asegura que el canvas se ajuste al contenedor */
}


@media (max-width: 768px) {
  .home-section {
    width: 100%;
    height: 100vh; /* Ocupa toda la pantalla */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos en el eje horizontal */
    justify-content: center; /* Centra los elementos en el eje vertical */
  }

  .espacio-objetos {
    width: 100%; /* Asegura que el contenido se ajuste al ancho */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 1280px) {
  .bienvenida {
    font-size: x-large;
    padding-top: 1rem;
  }

  .typewriter-effect{
    font-size: large;
  }

  .home-button{
    padding-bottom: 1rem;
  }
  .espacio-objetos{
    height: 70vh;
  }
  
}

/* Animaci贸n del emoji  */
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(15deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  45% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
